body {
    background: #30353a;
    height: 100%;
    max-width: 1000px;
    overscroll-behavior: none;
    -ms-overflow-style: none; /* IE 10+ */
    overflow: -moz-scrollbars-none; /* Firefox */
    -webkit-overflow-scrolling: touch;
    display: none;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}
#container {
    /* position: -webkit-sticky; */ /* Safari */
    position: fixed;
    top: 10px;
    font-family: Menlo, Monaco, 'Consolas', 'Courier New', 'Courier';
    font-size: 1em;
    padding: 10px;
    overflow: hidden;
    height: 400px;
    max-width: 900px;
}
.fab {
    padding-left: 2px;
}
.input-text {
    color: white;
}
.highlight {
    color: #fff700;
}
.output-text {
    /* color: #ace600; */
    color: white;
}
.output-text.show {
    display: inline;
}
.output-text:nth-child(n + 2)::before {
    /* Prepended line breaks for non-first output classes */
    content: '\A\A';
    white-space: pre;
}
a {
    color: inherit;
}
.prompt {
    color: #1bff00;
}
.off {
    display: none;
}
.on {
    display: inline;
}
.white {
    color: white;
}